@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Health - Medical Website Template</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Tooplate" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <link rel="stylesheet" href="~/home/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/home/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/home/css/animate.css" />
    <link rel="stylesheet" href="~/home/css/owl.carousel.css" />
    <link rel="stylesheet" href="~/home/css/owl.theme.default.min.css" />

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/home/css/tooplate-style.css" />
  </head>
  <body
    id="top"
    data-spy="scroll"
    data-target=".navbar-collapse"
    data-offset="50"
  >
    <!-- PRE LOADER -->
    <section class="preloader">
      <div class="spinner">
        <span class="spinner-rotate"></span>
      </div>
    </section>

    <!-- HEADER -->
    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-5">
            <p>Welcome to a Professional Health Care</p>
          </div>

          <div class="col-md-8 col-sm-7 text-align-right">
            <span class="phone-icon"
              ><i class="fa fa-phone"></i> 998-000-00-00</span
            >
            <span class="date-icon"
              ><i class="fa fa-calendar-plus-o"></i> 6:00 AM - 10:00 PM
              (Mon-Fri)</span
            >
            <span class="email-icon"
              ><i class="fa fa-envelope-o"></i>
              <a href="#">info@company.com</a></span
            >
          </div>
        </div>
      </div>
    </header>

    <!-- MENU -->
    <section class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button
            class="navbar-toggle"
            data-toggle="collapse"
            data-target=".navbar-collapse"
          >
            <span class="icon icon-bar"></span>
            <span class="icon icon-bar"></span>
            <span class="icon icon-bar"></span>
          </button>

          <!-- lOGO TEXT HERE -->
          <a href="index.html" class="navbar-brand"
            ><i class="fa fa-h-square"></i>ealth Center</a
          >
        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#top" class="smoothScroll">Home</a></li>
            <li><a href="#about" class="smoothScroll">About Us</a></li>
            <li class="appointment-btn">
              <a asp-controller="Appointment" asp-action="Index">Make an appointment</a>
            </li>
            <li><a class="smoothScroll" asp-controller="Account" asp-action="Register">Sign up</a></li>
            <li><a class="smoothScroll" asp-controller="Account" asp-action="Login">Login</a></li>
          </ul>
        </div>
      </div>
    </section>

    <!-- HOME -->
    <section id="home" class="slider" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row">
          <div class="owl-carousel owl-theme">
            <div class="item item-first">
              <div class="caption">
                <div class="col-md-offset-1 col-md-10">
                  <h3>Let's make your life happier</h3>
                  <h1>Healthy Living</h1>
                  <a
                    href="#about"
                    class="section-btn btn btn-default smoothScroll"
                    >About us</a
                  >
                </div>
              </div>
            </div>

            <div class="item item-second">
              <div class="caption">
                <div class="col-md-offset-1 col-md-10">
                  <h3>Only modern and reliable equipments</h3>
                  <h1>New Lifestyle</h1>
                  <a
                    href="#about"
                    class="section-btn btn btn-default btn-gray smoothScroll"
                    >About Us</a
                  >
                </div>
              </div>
            </div>

            <div class="item item-third">
              <div class="caption">
                <div class="col-md-offset-1 col-md-10">
                  <h3>Urgent care</h3>
                  <h1>Your Health Benefits</h1>
                  <a
                    href="#about"
                    class="section-btn btn btn-default btn-blue smoothScroll"
                    >About us</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ABOUT -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="about-info">
              <h2 class="wow fadeInUp" data-wow-delay="0.6s">
                Welcome to Your <i class="fa fa-h-square"></i>ealth Center
              </h2>
              <div class="wow fadeInUp" data-wow-delay="0.8s">
                <p>
                  Our long-term care facilities have earned the highest five and
                  four star ratings by the Centers for Medicaid and Medicare for
                  their excellent long-term care, skilled nursing care, and
                  rehabilitation services.
                </p>
                <p>
                  Our diverse workforce is uniquely focused on empowering
                  people, without exception, to live the healthiest life
                  possible.
                </p>
              </div>
              <figure class="profile wow fadeInUp" data-wow-delay="1s">
                <img
                  src="~home/images/author-image.jpg"
                  class="img-responsive"
                  alt=""
                />
                <figcaption>
                  <h3>Dr. Neil Jackson</h3>
                  <p>General Principal</p>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <footer data-stellar-background-ratio="5">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="footer-thumb">
              <h4 class="wow fadeInUp" data-wow-delay="0.4s">Contact Info</h4>
              <p>
                Don't hesitate to contact us. We are always available to answer
                your questions.
              </p>

              <div class="contact-info">
                <p><i class="fa fa-phone"></i> 998-000-00-00</p>
                <p>
                  <i class="fa fa-envelope-o"></i>
                  <a href="#">info@company.com</a>
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4">
            <div class="footer-thumb">
              <div class="opening-hours">
                <h4 class="wow fadeInUp" data-wow-delay="0.4s">
                  Opening Hours
                </h4>
                <p>Monday - Friday <span>06:00 AM - 10:00 PM</span></p>
                <p>Saturday <span>09:00 AM - 08:00 PM</span></p>
                <p>Sunday <span>Closed</span></p>
              </div>

              <ul class="social-icon">
                <li>
                  <a
                    href="#"
                    class="fa fa-facebook-square"
                    attr="facebook icon"
                  ></a>
                </li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <li><a href="#" class="fa fa-instagram"></a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-12 col-sm-12 border-top">
            <div class="col-md-4 col-sm-6">
              <div class="copyright-text">
                <p>Copyright &copy; 2018 Your Company | Design: Tooplate</p>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="footer-link">
                <a href="#">Laboratory Tests</a>
                <a href="#">Departments</a>
                <a href="#">Insurance Policy</a>
                <a href="#">Careers</a>
              </div>
            </div>
            <div class="col-md-2 col-sm-2 text-align-center">
              <div class="angle-up-btn">
                <a
                  href="#top"
                  class="smoothScroll wow fadeInUp"
                  data-wow-delay="1.2s"
                  ><i class="fa fa-angle-up"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- SCRIPTS -->
    <script src="~/home/js/jquery.js"></script>
    <script src="~/home/js/bootstrap.min.js"></script>
    <script src="~/home/js/jquery.sticky.js"></script>
    <script src="~/home/js/jquery.stellar.min.js"></script>
    <script src="~/home/js/wow.min.js"></script>
    <script src="~/home/js/smoothscroll.js"></script>
    <script src="~/home/js/owl.carousel.min.js"></script>
    <script src="~/home/js/custom.js"></script>
  </body>
</html>

